<!DOCTYPE html>

<html>
	<head>
		<title>Spec Demo</title>
	</head>
	<body>
		<h1>Rental Agreement</h1>
		<div>
			<div>Tool code: <span th:text=${toolCode}></span></div>
			<div>Tool type: <span th:text=${toolType}></span></div>
			<div>Tool brand: <span th:text=${toolBrand}></span></div>
			<div>Rental days: <span th:text=${rentalDays}></span></div>
			<div>Check out date: <span th:text=${checkoutDate}></span></div>
			<div>Due date: <span th:text=${dueDate}></span></div>
			<div>Daily rental charge: <span th:text=${dailyRentalCharge}></span></div>
			<div>Charge days: <span th:text=${chargeDays}></span></div>
			<div>Pre-discount charge: <span th:text=${preDiscountCharge}></span></div>
			<div>Discount percent: <span th:text=${discountPercent}></span></div>
			<div>Discount amount: <span th:text=${discountAmount}></span></div>
			<div>Final charge: <span th:text=${finalCharge}></span></div>
		</div>
	</body>	
</html>